<footer class="footer1">
  <div class="Company ">
    Wander Lust Limited
  </div>
  <div class="f-info-socials">   
      <i class="fa-brands fa-facebook social"></i>
      <i class="fa-brands fa-instagram social"></i>
      <i class="fa-brands fa-linkedin social"></i>
  </div>

  <div class="mt-2  ">
    <a href="#" class="text-black text-decoration-underline">Terms and Conditions</a>
  </div>
</footer>
